<!DOCTYPE html>

<html lang="pt_br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/styles/main.css">
        {% block styles %}{% endblock styles %}
        <link rel="stylesheet" href="/styles/responsive.css">
        {% block title %}
            <title>Ecoletas</title>
        {% endblock title %}
        

    </head>
    <body>
        <div id ="{{bodyId}}">
            {% block content %}
            {% endblock content %}
        </div>
        
        {% block modal %}
        {% endblock modal %}

        {% block scriptjs %}
        {% endblock scriptjs %}
    </body>
    
</html>